.restaurants-layout {
  height: 100%;
  background-color: #edf2f7;
}

.restaurants-card {
  margin-top: 120px;
}

.card-wrapper {
  width: 100%;
  padding-top: 50px;
}

#restaurant-card {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.restaurants-list {
  padding: 0px 25px 25px 25px;
  background-color: white;
}

#restaurants-menu {
  padding: 25px;
  background-color: white;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}

.restaurant-item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.filter-button,
.create-button {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding-left: 5px;
}
