.edit-modal .modal-body {
  margin-bottom: 15px;
}

.edit-button {
  display: inline-block;
  white-space: nowrap;
}
// .add-modal {
//   //   background-color: white;
// }

.edit-modal .modal-content {
  background-color: #edf2f7 !important;
}
